version: "3.9"

services:
  api-gateway:
    build: ./api-gateway
    ports:
      - "8000:8000"
    depends_on:
      - auth-service

  auth-service:
    build: ./auth-service
    ports:
      - "8001:8001"
