version: "3.9"

services:

  postgres:
    image: postgres:15
    container_name: postgres
    environment:
      POSTGRES_DB: auth_db
      POSTGRES_USER: auth_user
      POSTGRES_PASSWORD: auth_pass
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  api-gateway:
    build: ./api-gateway
    ports:
      - "8000:8000"
    depends_on:
      - auth-service
      - security-broker

  auth-service:
    build: ./auth-service
    environment:
      DATABASE_URL: postgresql://auth_user:auth_pass@postgres:5432/auth_db
    depends_on:
      - postgres

  security-broker:
    build: ./security-broker

  monitoring-service:
    build: ./monitoring-service

  threat-intelligence:
    build: ./threat-intelligence

volumes:
  postgres_data:
